<ul class="nav social animated fadeInDown">
  <li data-toggle="tooltip" data-placement="left" title="Twitter">
    <a href="https://twitter.com/TylerShimko" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stack-twitter fa-stack-1x black"></i>
      </span>
    </a>
  </li>
  <li data-toggle="tooltip" data-placement="left" title="GitHub">
    <a href="https://github.com/TShimko126" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x black"></i>
      </span>
    </a>
  </li>
  <li data-toggle="tooltip" data-placement="left" title="Website">
    <a href="http://tylershimko.com" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-bitbucket fa-align-justify black"></i>
      </span>
    </a>
  </li>
</ul>